.pt-triggers{
	width: 100%;
	text-align: center;
}

.go{
  text-align: right;
  margin-right: 2%;
}

.go > a > button{
  border: 1px solid rgba(0, 0, 0, 0.7);
  background-color: #f1f3f5;
  width: 23%;
  padding: 0.5% 0;
  font-size: 0.95rem;
  font-family: 'SCDream4';
}

.go > a > button:hover{
  background-color: rgba(207, 107, 57, 0.6);
}

.go > a > button:focus{
  outline: none;
}

.pt-touch-button {
	border: none;
  font-size: 0.85rem;
	text-transform: uppercase;
	margin: 10px 0 20px;
	padding: 0px 1.2rem;
	line-height: 50px;
	height: 50px;
	letter-spacing: 1px;
	cursor: pointer;
	display: inline-block;
	box-shadow: 0 3px 0 rgba(0,0,0,0.2);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  background: #fff;
  color: rgba(0, 0, 0, 0.7);
}

.pt-touch-button:focus{
  outline: none;
}

.pt-touch-button:hover{
  box-shadow: 4px 4px 4px rgba(207, 107, 57, 0.6);
  color: rgba(207, 107, 57, 1.0);
}

.pt-page-ontop {
	z-index: 999;
}

.pt-page {
	width: 90%;
	height: auto;
  display: none;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.pt-perspective{
  text-align: center;
}

.bottom{
  margin-top: 3%; 
  text-align: left;
}

.bottom:focus{
  outline: none;
}

.pt-page-current,
.no-js .pt-page {
  display: inline-block;
	z-index: 1;
}

.shadow{
  box-shadow: 4px 4px 4px rgba(207, 107, 57, 0.6);
  color: rgba(207, 107, 57, 1.0);
  font-weight: 700;
}

#certification{
  width: 100%;
  height: 100%;
  font-size: 1.05rem;
}

.location_imgs{
  width: 22.5%;
  height: 22.5%;
  display: inline-block;
  margin: 0.7%;
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-collapse: separate;
  border-spacing: 0;
}

.location_imgs > a{
  display: block;
  padding: 3.5% 0 3.5% 0;
  background-color: #f1f3f5;
}

.location_img > img{
  width: 100%;
  height: auto;
  margin: 5% 0 5% 0;
  box-sizing: border-box;
}

.location_img{
  display: inline-block;
  width: 65%;
  box-sizing: border-box;
}

.location_imgs:hover{
  background-color: #adb5bd;
}

/*개시판 하단바에 대한 설정*/
.paginate{
  padding:16px 0 0;
  text-align:center;
}
/*개시판 번호에 대한 설정*/
.paginate > a,.paginate > strong{
  display:inline-block;
  position:relative;
  width:17px;
  margin-right:1px;
  padding:2px 4px 3px;
  border:1px solid #f5f2ed;
  color:#666;
  font-weight:bold;
  line-height:normal;
  text-decoration:none;
}
/*현재 선택된 페이지에 대한 설정*/
.paginate > strong{
  border:1px solid #928070;
  color:#f52d2d !important;
}
/*다른 페이지를 가까이 했을때 생기는 효과 설정*/
.paginate > a:hover{
  border:1px solid #e9e9e9;
  color:#FFF; 
  background-color:#939393 !important;
}

.myModal {
  display: none; /* Hidden by default */
  z-index: 1; /* Sit on top */
  padding: 3% 7.5% 0 7.5%; /* Location of the box */
  width: 85%; /* Full width */
  height: auto; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(255,255,255,1); /* Black w/ opacity */
  -ms-overflow-style: none;
  scrollbar-width: none;

/*사진을 확대할때 갑자기 뜨는 것보다 애니메이션 효과를 주는 것이 효과적이라 생각해 애니메이션 효과를 줌*/

  animation-name: zoom;
  animation-duration: 0.6s;
}

.myModal::-webkit-scrollbar{
  display: none;
}

#second_process{
  display: none;
}

@-webkit-keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/*사진을 전체 화면에서 다시 원상복구를 하는 버튼에 대한 설정*/
#process_close,
#second_process_close,
#refrigerator_close,
#genenal_close,
#washing_close,
#second_washing_close,
#gas_close,
#gass_close,
#distribution_close,
#distributions_close,
#disinfection_close,
#disinfections_close,
#kitchen_close,
#kitchens_close {
  float: right;
  color: #000000;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  z-index: 99999;
  margin-left: 100%;
}
/*버튼을 가까이 가져갔을때에 대한 설정*/
#process_close:hover, #process_close:focus,
#second_process_close:hover, #second_process_close:focus,
#refrigerator_close:hover, #refrigerator_close:focus,
#genenal_close:hover, #genenal_close:focus,
#washing_close:hover, #washing_close:focus,
#second_washing_close:hover, #second_washing_close:focus,
#gas_close:hover, #gas_close:focus,
#gass_close:hover, #gass_close:focus,
#distribution_close:hover, #distribution_close:focus,
#distributions_close:hover, #distributions_close:focus,
#disinfection_close:hover, #disinfection_close:focus,
#disinfections_close:hover, #disinfections_close:focus,
#kitchen_close:hover, #kitchen_close:focus,
#kitchens_close:hover, #kitchens_close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.scroll{
	overflow: hidden;
}

.left{
  float: left;
  width: 40%;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.right{
  float: right;
  width: 55%;
  height: auto;
  text-align: left;
}

#pd{
  color: rgb(207, 107, 57);
  margin-top: 5%;
  margin-bottom: 1%;
  text-align: left;
}

table{
  width: 100%;
  height: auto;
  border-collapse: collapse;
}

td{
  padding: 0.5em 0;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.4);
}